.container {
    height: 100%;
    display: flex;
    overflow: auto;
    flex-flow: column nowrap;
    background-color: transparent;
}

/deep/ .el-form-item__label {
    text-align: left;
}

.full-width {
    // width: 80%;
    // min-width: 80%;
    display: inline-block;
}

/deep/ .el-form-item__content {
    width: 90%;
}

.el-dialog__header {
    cursor: move;
}



.container /deep/ .el-table--fit {
    // position: absolute;
    // padding: 0px;
    // padding: 0px 0px 0px 0px;
    // margin: 77px 0px 0px 190px;
}

/deep/ .el-table--scrollable-y ::-webkit-scrollbar {
    display: none;
}

/deep/ .el-table th {
    z-index: 1000;
}

// ----------修改elementui表格的默认样式-----------
/deep/ .el-table__body-wrapper {
    &::-webkit-scrollbar {
        // 整个滚动条
        width: 0; // 纵向滚动条的宽度
        background: rgba(213, 215, 220, 0.3);
        border: none;
    }

    &::-webkit-scrollbar-track {
        // 滚动条轨道
        border: none;
    }
}

// --------------------隐藏table gutter列和内容区右侧的空白 start
/deep/ .el-table th.gutter {
    display: none;
    width: 0
}

/deep/ .el-table colgroup col[name='gutter'] {
    display: none;
    width: 0;
}

/deep/ .el-table__body {
    width: 100% !important ;   
}

// --------------------隐藏table gutter列和内容区右侧的空白 end




.el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
    padding: 12px;
    border-radius: 3px;
}

.el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
    padding: 12px;
    border-radius: 3px;
}

/deep/ .el-carousel__indicators--horizontal {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: none;
}