.container {
    height: 100%;
    display: flex;
    overflow: auto;
    flex-flow: column nowrap;
    background-color: transparent;
}

/deep/ .el-form-item__label {
    text-align: left;
}

.full-width {
    width: 100%;
    display: inline-block;
}


.el-dialog__header {
    cursor: move;
}