 .applied-style {
     font-size: 12px;

     &:hover {
         cursor: pointer;
     }

 }

 .style-css .el-collapse-item__content {
     & .el-form-item {
         margin-bottom: 8px;
     }

     & .form-item-input {
         width: 50% !important;

         & .el-input {
             width: 100%;
         }
     }
 }


 .container {
     position: absolute;
     left: 0;
     right: 00;
     bottom: 0;
     top: 0;
     overflow: auto;
     display: flex;
     flex-flow: column nowrap;
 }

 .style-list {
     position: relative;
     overflow: auto;
     padding: 0 20px 0 20px;
 }

 .style-css {
     position: relative;
     overflow: auto;
     padding: 20px;
     padding-top: 0;
     height: 100%;
     display: flex;
     flex: 1;
     flex-flow: column nowrap;
 }

 .style-css::-webkit-scrollbar {
     width: 5px;
     background-color: rgba(122, 122, 122, 0.3);
 }

 .style-css::-webkit-scrollbar-track {
     background-color: transparent;
 }

 .style-css::-webkit-scrollbar-thumb {
     background: rgba(122, 122, 122, 1);
     border-radius: 15px;
 }

 .style-item {
     margin-top: 8px;
     height: 100%;
     max-height: 100%;
     flex: 1;
 }

 .footer {
     /*
      position: absolute;
      bottom: 0.5rem;
      left: 0;
      right: 0;
      margin: 0 auto; */

     position: relative;
     padding: 10px 20px 20px 20px;
     display: flex;
     justify-content: center;

     & button {}
 }

 /deep/ .el-form-item__label {}

 .el-tag+.el-tag {
     margin-left: 10px;
 }

 .button-new-tag {
     margin-left: 10px;
     height: 32px;
     line-height: 30px;
     padding-top: 0;
     padding-bottom: 0;
 }

 .input-new-tag {
     width: 90px;
     margin-left: 10px;
     vertical-align: bottom;
 }

 /* 有弹框时的弹框样式 */
 .show-popper.el-popover {
     padding: 0 !important;
     background: transparent !important;
     border: none;
     box-shadow: 0 0 15px #faab3d;
 }

 /* 无弹框时直接隐藏 */
 .hide-popper {
     display: none;
 }

 .set-selector,
 .set-style {
     display: inline-block;
     width: 35px;
     background-color: #faab3dbb;
     margin-left: 8px;
     margin-right: -8px;
     border-radius: 6px;
     border-width: 0;

     &:hover {
         cursor: pointer;
     }
 }

 /deep/ .array-icon {
     // background-color: red;
     pointer-events: auto;
 }

 /deep/ .array-icon:hover {
     // background-color: blue;
 }


 // 伪类添加事件
 /deep/ .style-item .el-form-item {
     pointer-events: none;
 }

 /deep/ .style-item .el-form-item__label .el-button {
     pointer-events: auto;
 }

 /deep/ .style-item .el-form-item__content {
     pointer-events: none;
 }

 /deep/ .style-item .el-form-item__content .el-color-picker,
 /deep/ .style-item .el-form-item__content .el-checkbox,
 /deep/ .style-item .el-form-item__content .el-input,
 /deep/ .style-item .el-form-item__content .el-input-number__decrease,
 /deep/ .style-item .el-form-item__content .el-input-number__increase {
     pointer-events: auto;
 }