.container {
    height: 100%;
    display: flex;
    overflow: auto;
    flex-flow: column nowrap;
    background-color: transparent;

    &>div {
        width: 100%;
        height: 100%;
    }
}

.series-container {
    display: flex;
    flex-flow: row nowrap;
    height: 300px;

    & .active-serie {
        color: blue;
    }

    &>.series-area {
        display: flex;
        flex-flow: column nowrap;

        &>div:nth-child(1) {

        }

        &>div:nth-child(2) {
            display: flex;
            flex-flow: column nowrap;
            color: antiquewhite;
            font-size: 18px;
            line-height: 30px;
            user-select: none;
            cursor: grab;
            overflow: auto;
            text-overflow: ellipsis;
            white-space: nowrap;
            background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
            border-radius: 6px 6px 6px 6px;
            padding: 10px 10px;
            width: 180px;
            height: 100%;
            margin-top: 9px;

            &::-webkit-scrollbar {
                width: 0px;
            }

            & span {
                text-align: left;
                &:nth-child(n+2) {
                    margin-top: 6px;
                }
            }
        }
    }

    
    &>.edit-area {
        width: 100%;
        height: 100%;
        margin-left: 16px; 
        background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
        border-radius: 6px 6px 6px 6px;
        padding: 10px 10px;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 10px;
        }
    }
}

/deep/ .el-tag .el-icon-close {
    right: -55px;
}